/*
Theme Name: Mendes Tur
Theme URI: http://mendestur.com.br
Author: PXP Marketing Digital
Author URI: http://pxpdigital.com.br/
Description: Tema criado para a Mendes Tur
Version: 1.0
*/

/*@import 'css/reset.css';*/

.card-header:first-child{
  border-radius: 0;
}

.table-w {
    display: table;
    width: 100%;
    height: 100%;
}

.table-w .table-c {
    display: table-cell;
    vertical-align: middle;
}


html, html[lang] {
  margin-top: 0 !important; 
}

a:hover{text-decoration: none;}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

button:focus{
  outline: 0;
}

.btn:focus{
  box-shadow: none;
  outline: 0;
}

.form-control:focus{
  box-shadow: none;
}

/* VARIAVEIS CORES */
.text-black {
  color: #3c3c3c; 
}

.text-cinza{
  color: #a0a0a0;
}

.text-azul{
  color: #023f88;
}

.text-light{
  color: #cccccc!important;
}

.text-laranja{
  color: #f58220;
}

.text-cinza-claro{
  color: #787878;
}

/* BACKGROUND */
.bg-light{
  background-color: #f5f5f5;
}

.bg-cinza{
  background-color: #f0f0f0;
}

.bg-cinza-claro{
  background-color: #e7e7e7;
}

.bg-cinza-nv{
  background-color: #e9e9e9;
}

.bg-azul{
  background-color: #023f88;
}

.bg-costa{
  background-color: #0076bb;
}

.bg-norwegian{
  background-color: #245f85;
}

.bg-pullmantur{
  background-color: #013171;
}

.bg-uniword{
  background-color: #5a5a5a;
}

.bg-azul-marinho{
  background-color: #060c17;
}

.bg-laranja{
  background-color: #f58220;
}

.bg-verde{
  background-color: #00bb47;
}


/* VARIAVEIS FONTE */
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #3c3c3c; 
}

h5{
  font-size: 18px;
}

.font-14{
  font-size: 14px;
}

.font-12{
  font-size: 12px;
}

.font-44{
  font-size: 42px;
}


.font-dancing-script{
  font-family: 'Dancing Script', cursive;
}

/* BTN */
.btn-border{
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 16px;
}

.btn-border:hover{
  border: 1px solid #fff;
  background-color: #fff;
  color: #023f88 !important; 
}

.btn{
  border-radius: 50px;
  font-size: 16px;
}

.btn.bg-azul:hover{
  background-color: #0255ba;
}

.btn.bg-laranja:hover{
  background-color: #f55d16;
}
/*-----HEADER------*/
header.bg-light.pt-3 {
  height: 53px;
}

header .col-lg-10{
  height: 34px;
}

header .col-lg-2 {
  z-index: 99999;
}

header .border-header {
  border-bottom: 1px solid #cccccc;
  opacity: 0.4;
  width: 55%;
  position: relative;
  z-index: 999;
  top: -43px;
  margin-left: auto;
}

header a:hover{
  color: #f58220;
}

/*---NAVBAR---*/
.navbar{
/*  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;*/
  position: relative;;
}

.navbar-light .navbar-toggler{
  border-color: transparent;
}

.navbar-light .navbar-nav .nav-link{
  color: #023f88;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f58220;
  outline: 0;
}

.affix{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  box-shadow: 1px 1px 11px rgba(0,0,0,0.2), 0 3px 75px 2px rgba(0,0,0,.1);
}

.affix-top{
  width: 100%;
  position:static;
  top:-32px;
}


.affix a.navbar-brand.d-none{
  display: block !important;
}


/*---CAROUSEL----*/
.carousel-control-next:focus, .carousel-control-next:hover, 
.carousel-control-prev:focus, .carousel-control-prev:hover{
  opacity: 1;
}

.carousel-control-next, .carousel-control-prev{
  opacity: 1;
}

img.prev-icon {
  width: 30px;
  height: 30px;
}

.carousel .hero {
  position: absolute;
  top: 65%;
  left: 17%;
  /* width: 76%;*/
  color: #fff;
  background-color: #023f88;
}

.carousel .hero p.mb-0.font-14{
  position: absolute;
  top: 11px;
}

.carousel .hero p.mb-0.font-14.text-laranja{
  position: absolute;
  top: 72px;
}

.border-right {
  border-right: 1px solid #fff!important;
  margin: 13px 0;
}



/*----PESQUISA-----*/
#pesquisa .nav-link.active, #pesquisa .nav-pills .show>.nav-link {
  color: #023f88;
  background-color: transparent;
}

#pesquisa a:hover {
  color: #023f88;
} 

#pesquisa .nav-link{
  color: #fff;
}

#pesquisa .nav-link.opacity{
  opacity: 0.8;
}

#pesquisa .nav-link.opacity:hover {
  color: #fff;
  opacity: 1;
} 

#pesquisa .form-control{
  border: 0;
  border-radius: 0;
}

#pesquisa .input-group-text{
 border: 0;
 border-radius: 0;
}

#pesquisa .nav-item a.active:before {
    content: '';
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #023f88;
    border-top-color: #023f88;
    position: absolute;
    margin-top: 23px;
    margin-left: 22px;
}

.datepicker{
  background-color: #fff;
  margin-top: 16%;
  position: absolute;
  z-index: 99;
  border-radius: 0;
  width: 209px;
}

#aereo .datepicker{
  margin-top: 28%;
}

th.next, th.prev {
  background-color: #f58220;
  color: #fff;
  padding: 2px 5px;
  border-radius: 0;
}

.datepicker .next:hover, .datepicker .prev:hover {
  background-color: #f55d16;
}

.datepicker table tr td.day:hover, .datepicker table tr td.day.focused{
  background-color: #f58220;
  color: #fff;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover{
  background-color: #f55d16;
}

.datepicker th.dow {
    border-radius: 0;
    color: #f58220;
}


select {
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.classic {
  background-image: linear-gradient(45deg, transparent 50%, #a0a0a0 50%), 
                    linear-gradient(135deg, #a0a0a0 50%, transparent 50%), 
                    linear-gradient(to right, #e7e7e7, #e7e7e7);
  background-position: calc(100% - 17px) calc(1em + 2px), 
                       calc(100% - 11px) calc(1em + 2px), 100% 0px;
  background-size: 6px 5px, 6px 5px, 2.0em 2.5em;
  background-repeat: no-repeat;
}

label.form-check-label{
  color: #fff;
}

/*----BANNERS----*/
#banners .hover-zoom{
  overflow: hidden;
  float: center;
  margin: 0 !important;
  height: 230px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
}

#banners .hover-zoom:hover {
  background-size: 140%;
}

#banners .btn-border:hover{
  color: #f58220 !important;
}

#banners .bg-skew-azul {
  background-color: #023f88;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  position: absolute;
  box-shadow: 9px 0px 0px 1px #43a1ff;
  left: -43px;
  width: 415px;
  height: 240px;
}

#banners .no-skew{
  webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  transform: skewX(20deg);
  left: 63px;
  position: absolute;
  padding: 9% 4%;
}

#banners .hero{
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  color: #fff;
}

.bottom-line.line-center:after {
  margin-left: auto;
  margin-right: auto;
}

.bottom-line:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f58220;
  margin-top: 5px;
}


/*---CRUZEIROS---*/
#cruzeiros{
  background-image: url(img/bg-cruzeiros.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#cruzeiros img.img-fluid.m-auto.img-logo {
    width: 60%;
}

#cruzeiros .owl-nav {
  position: absolute;
  top: -43px;
  right: 10px;
}

#cruzeiros .owl-theme .owl-nav [class*=owl-]:hover{
  background-color: #000;
}


#cruzeiros .owl-theme .owl-nav [class*=owl-]{
  border-radius: 0;
  background-color: #f58220;
  width: 26px;
  height: 26px;
  margin: 0 7.1px 0px 0px;
  border: 0;
  color: #fff;
}

.uk-icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
}


#cruzeiros img.prev-icon, #destinos img.prev-icon {
  width: 15px;
  height: 15px;
  margin-top: -4px;
}

#cruzeiros .card:hover{
  box-shadow: 2px 7px 25px rgba(0,0,0,.5), 0 3px 75px 2px rgba(0,0,0,0.5);
  outline: 3px solid #f58220;
  outline-offset: -3px;
}

.card{
  border-radius: 0;
  border: 0;
  color: #3c3c3c;
  box-shadow: 2px 7px 25px rgba(0,0,0,.2), 0 3px 75px 2px rgba(0,0,0,.1);
  webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 180px;
}

/*---DESTINOS----*/
#destinos a.btn.btn-lg.bg-laranja.text-white.px-4 {
  width: 100%;
}

#destinos .card:hover{
  outline: 3px solid #f58220;
}

/*#destinos img.img-logo{
  left: 174px;
  width: 32%;
  position: absolute;
  top: 146px;
  padding: 2%;
  background-color: #fff;
}*/

#destinos .row.logo{
  padding: .5em 1.25em 0;
}

#destinos .card-body{
  padding: .5em 1.25em 0;
}

.card-footer:last-child{
  border-radius: 0;
}

.card-footer{
  background-color: #fff;
  border-top: 0;
}

/*---HOME-LUA-DE-MEL----*/
#home-lua-de-mel{
  background-image: url(img/lua-de-mel/bg.jpg);
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-lua-de-mel img.icon{
  width: 3%;
}

#home-lua-de-mel div.text-white.text-center {
  padding-left: 24%;
  padding-right: 24%;
}


/*----HOME-CAMBIO----*/
#home-cambio{
  background-image: url(img/cambio/bg-cambio.jpg);
  background-color: #e9e9e9;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 748px;
}

#home-cambio .list-group-item {
  padding: 0.50rem 1.25rem;
  background-color: #2558a6;
  color: #fff;
  border: 1px solid rgb(255,255,255,0.4);
  font-weight: bold;
  font-size: 14px;
}

#home-cambio .list-group{
   -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.23); 
  box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.23);
}

#home-cambio .list-group-item:first-child, 
#home-cambio .list-group-item:last-child{
  border-radius: 0;
}

#home-cambio .list-group-item.active{
  background-color: #fff;
  color: #3c3c3c;
  font-weight: bold;
  border-left: 6px solid #2558a6;
  border-top: 0;
  border-bottom: 0;
  width: 102%;
  margin-left: -2%;
  font-size: 18px;
}

#home-cambio .tab-content>.active{
  background-color: #fff;
  padding: 3%;
  -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.23); 
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.23);
}

.cambio.bg-white {
  margin: auto;
  display: block;
  width: 750px;
  margin-top: -6%;
  margin-left: 23%;
  position: absolute;
  -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.23); 
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.23);
}

.cambio.bg-cinza-nv{
  height: 130px;
}

/*----HOME-QUEM-SOMOS---*/
#home-quem-somos{
  background-image: url(img/quem-somos/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-quem-somos div.text-white.text-center {
  padding-left: 27%;
  padding-right: 27%;
}

#home-quem-somos .input-group a{
  display: inline-flex;
  color: #fff;
} 

img.icon-player{
  height: 40px;
}

.modal-dialog {
  max-width: 800px;
  margin: 93px auto;
}

.modal-body {
  position:relative;
  padding:0px;
}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

/*---HOME-VIAGEM---*/
#home-viagem .visto{
  padding: 12% 5% 0 5%;
}

#home-viagem .visto,
#home-viagem .viagem,
#home-viagem .contato{
  height: 276px;
}

.img-documentos{
  margin-top: 7%;
}

#instagram .input-group a{
  display: inline-flex;
  color: #023f88;
}

.bg-passeios{
  background-image: url(img/bg-passeios.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*---FOOTER---*/
footer .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

footer nav ul.navbar-nav > li:not(:first-child) > a::before {
  content: ' | ';
  color: #FFF;
  margin-right: 10px;
}

footer .social-media{
  display: inline-flex;
}

a:hover .btn-circle{
  background-color: #fff;
}

a:hover .btn-circle .fa-inverse{
  color: #023f88;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 0px;
  border: 1px solid #fff;
  border-radius: 100%!important;
  background: 0 0;
  margin-top: -5px;
  margin-left: 10px;
}

footer .col-lg-2 {
    border-left: 1px solid #fff;
}

footer .svg-inline--fa{
 margin-left: 12px;
 margin-bottom: -7px;
}


footer .svg-inline--fa.fa-facebook-f{
  margin-left: 14px;
}


/*----PAGE-CRUZEIRO-HEADER----*/
#cruzeiro-header{
  background-image: url(img/cruzeiros/bg-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-line-header.line-center:after {
  margin-left: auto;
  margin-right: auto;
}

.bottom-line-header:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #f58220;
  margin-top: 5px;
}

span.wpcf7-form-control-wrap.your-mes{
  position: absolute;
}

/*---PAGE-DESTINOS---*/
#destino-header{
  background-image: url(img/destinos/bg-header.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-destinos a.btn.btn-lg.bg-laranja.text-white.px-4 {
    width: 100%;
    margin-top: 5%;
}

/*---PAGE-INTERNA-DESTINO---*/
.breadcrumb-item.active{
  color: #a0a0a0;
}

.breadcrumb-item a{
  color: #3c3c3c;
}

ol.breadcrumb.bg-white {
    padding: 0;
}

#page-interna-destinos button.btn.bg-laranja.mb-2.text-white.px-4 {
    width: 100%;
}

.form-interesse{
  height: 617px;
  border-top: 4px solid #f58220;
}

#page-interna-destinos .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: transparent;
  color: #1c1c1c;
  font-weight: bold;
  border-bottom: 3px solid #f58220;
  width: auto;
  z-index: 99;
  border-radius: 0;
  position: relative;
  top: 3px;
}


#page-interna-destinos .nav-pills .nav-link {
    border-radius: .25rem;
    position: relative;
    top: 3px;
    color: #787878;
}

.border-branco {
    border-bottom: 3px solid #cccccc;
    width: 100%;
}

/*---PAGE-ORCAMENTO---*/
#orcamento-header{
  background-image: url(img/header-orcamento.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-orcamento{
   border-top: 4px solid #f58220;
}

.form-orcamento .form-control{
  border-radius: 0;
  border: 1px solid #cccccc;
}

.input-group.date .form-control{
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #cccccc;
}

.input-group-text::after{
  content: "|";
    color: #cccccc;
    margin-left: 9px;
}

.input-group-text{
  border-radius: 0;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-color: #cccccc;
}

span.wpcf7-form-control-wrap.your-data-prevista {
    position: absolute;
}

/*---PAGE-QUEM-SOMOS---*/
#quem-somos-header{
  background-image: url(img/quem-somos/header-quem-somos.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-quem-somos .text-center{
  padding-right: 15%;
  padding-left: 15%;
}

#equipe .border-branco{
  border-bottom: 1px solid #cccccc;
}

#equipe .border-laranja{
  position: absolute;
    border-bottom: 1px solid #f26722;
    width: 80px;
    z-index: 99;
}

/*---PAGE-AEREO---*/
#page-aereo{
  background-image: url(img/bg-aereo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---PAGE-INTERNA-CRUZEIRO---*/
#interna-cruzeiro-header .hero{
  position: relative;
    top: -137px;
    left: 0;
    width: 100%;
    color: #fff;
}

#interna-cruzeiro-header img{
    position: relative;
}

#page-interna-cruzeiro .nav, #page-interna-lua-de-mel .nav{
  background-color: #f0f0f0;
  border-radius: 50px;
}

#page-interna-cruzeiro .nav .nav-item .nav-link, #page-interna-lua-de-mel .nav .nav-item .nav-link{
  color: #3c3c3c;
  text-transform: uppercase;
}

#page-interna-cruzeiro .nav .nav-item .nav-link.active,
#page-interna-lua-de-mel .nav .nav-item .nav-link.active{
  background-color: #f58220;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
}

#page-interna-cruzeiro img.logo{
  height: 107px;
}

#page-interna-cruzeiro .bg-azul p, #page-interna-cruzeiro .bg-cinza-claro p{
  margin-bottom: 0;
}

#condicoes p.heading{
  font-size: 16px;
}

#condicoes p{
  font-size: 12px;
}

.modal.lua-de-mel .modal-dialog{
  max-width: 400px;
  margin: 93px auto;
}

p.heading{
  border-bottom: 3px solid #cccccc;
}

.dados-viagens p{
  margin-bottom: 0;
}

#solicitar .border-bottom{
  width: 68%;
}


.heading .divider-left{
    height: 3px;
    background-color: #f58220;
    width: 220px;
    display: block;
    margin: 6px -8px -3px;
}

#thumbs .item  {
  cursor: pointer;
  padding: 0px; 
  margin:2px;
}

#big .item  img{
	width: 540px;  
  height: 322px;
  object-fit: cover;
  object-position: center;
}

#thumbs .item  img{
	width: 540px;
  height: 97px;
  object-fit: cover;
  object-position: center;
}

.owl-theme .owl-nav [class*='owl-'] {
  transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

#big.owl-theme .owl-nav [class*=owl-]{
  color: #fff;
  padding: 4px 7px;
  background: #f58220;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  border-radius: 0;
}

#big.owl-theme .owl-nav [class*=owl-]{
  color: #fff;
  padding: 4px 7px;
  background: #f58220;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  border-radius: 0;
}

#big svg {
    margin-top: 8px;
}

#big.owl-theme {
  position: relative;
}

#big.owl-theme .owl-prev{
  left: 10px;
}

#big.owl-theme .owl-next{
  right: 10px;
}

#big.owl-theme .owl-next,
#big.owl-theme .owl-prev{
  margin-top: -20px;
  position: absolute;
  top: 50%;
}


#thumbs .current .item { outline: 3px solid #f58220; outline-offset: -3px; }

.carousel-caption{
  background: rgba(0,0,0,0.6);
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 2% 5%;
  color: #fff;
  text-align: left;
   margin: 2px;
}

#cat-cruzeiros .col-lg-3.py-3{
	align-self: center!important;
}

#cat-cruzeiros .col-lg-2.bg-laranja.py-5.text-center{
	padding: 5% 0 !important;
}

#cat-cruzeiros .border-right{
  border-right: 1px solid #a0a0a0 !important;
  margin: 6px 0;
}

#cat-cruzeiros p {
    margin-bottom: 0;
}

.triangulo{
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
  margin-right: -29px;
  float: right;
  margin-top: -64px;
  z-index: 1;
  position: relative;
}

/*---PAGE-CONTATO---*/
#contato-header{
  background-image: url(img/header-contato.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-lg-8.mapa{
  height: 370px;
}

p#container-como-chegar {
    margin-top: 10px;
    margin-left: 387px;
}

/*---PAGE-SEGURO-VIAJEM---*/
#seguro-header{
  background-image: url(img/seguro-viagem/header-seguro-viagem.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---PAGE-LUA-DE-MEL----*/
#lua-de-mel-header{
  background-image: url(img/header-lua-de-mel.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-lua-de-mel .border{
  border: 1px solid #f58220 !important;
  border-radius: 4px;
}

#como-funciona .card-deck {
    padding-right: 10%;
    padding-left: 10%;
    margin-top: -19px;
}

#como-funciona .card-deck .card{
  width: 260px;
  cursor: default;
}

span.wpcf7-form-control-wrap.your-data {
    position: absolute;
}

/*---PAGE-INTERNA-LUA-DE-MEL----*/
#lua-de-mel-interna-header{
  background-image: url(img/lua-de-mel/bg-interna.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-interna-lua-de-mel img.icons{
  height: 16px;
}

#cerimonia img.icons,
#presente img.icons{
  height: 40px;
}

#cerimonia .bg-white {
    margin: 0 21%;
}

#presente{
  padding-right: 20%;
  padding-left: 20%;
}

#presente .border{
  width: 555px;
  margin: auto;
}

#presente .col-lg-6{
  margin-top: 1%;
}

.image_3{
  overflow: hidden;
}

.image_3 img{
  transition: 0.8s;
}

.image_3 img:hover{
    transform: scale(1.15);
}

.galeria .p-0{
  padding-bottom: 0.5% !important;
  padding-left: 0.5% !important;
  padding-right: 0 !important;
}


/*----LOADING-----*/
/*--LOADING----*/
.loading-image {
  width: 12%;
  height: 12%;
  z-index: 10;
  position: relative;
  margin-top: 15%;
}

.loader{
  display: none;
  position: fixed;
  top: 0;
  left: 0%;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

/*--PAGE-404---*/
#page-404 a{
  color: #f58220;
  font-weight: bold;
  cursor: pointer;
}

/*---------------------------------*/
/*----MOBILE---*/
@media (max-width: 576px) {
  a.navbar-brand.d-none {
    display: block !important;
  }

  .affix-top {
    width: 100%;
    top: 0;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  main{
    margin-top: 72px;
  }

  /*--Carousel--*/
  .carousel .hero{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .carousel-control-next, .carousel-control-prev {
    top: -330px;
  }

  .carousel .col-lg-2.p-4{
    padding: 1.0rem!important;
  }

  .carousel .border-right{
    border-right: 0 !important;
    border-bottom: 1px solid #fff;
    margin: 0 10px;
  }

  .carousel .img-logo{
    height: 30px;
    margin: auto;
  }

  .carousel a.btn {
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  /*--Pesquisa--*/
  #pesquisa a.btn{
    margin-top: 5%;
    width: 100%;
  }

  label.form-check-label{
    font-size: 14px;
  }

  .form-check-inline{
    margin-right: 3px;
  }

  .form-check-inline .form-check-input{
    margin-right: 0;
  }


  /*--BANNERS--*/

  #banners .bg-01{
    background-image: none;
    height: auto;
  }

  #banners .bg-skew-azul{
    left: 0;
    position: relative;
    box-shadow: none;
    -webkit-transform: skewX(-0deg);
    transform: skewX(-0deg);
    width: 100%;
    height: auto;
  }

  #banners .no-skew{
    -webkit-transform: skewX(-0deg);
    transform: skewX(-0deg);
    left: 0;
    position: relative;
  }

  #banners a.btn{
    margin: auto;
  }

  #banners .col-lg-6{
    margin-bottom: 5%;
  }

  #banners .hero{
    top: 29%;
  }

  #banners .hero h5{
    font-size: 14px;
  }

  #banners .hero h4{
    font-size: 18px;
  }
  
  .zoom-effect-container{
    height: 106px;
   }

  /*---CRUZEIROS---*/
  #cruzeiros .owl-nav {
    position: relative;
    top: 0;
    right: 0;
  }

  #cruzeiros .input-group, #destinos .input-group{
    display: block;
    text-align: center;
  }

  #cruzeiros h3.mr-3,  #destinos h3.mr-3{
    margin-right: 0!important;
    margin-bottom: 3% !important;
  }

  /*---LUA-DE-MEL---*/
  #home-lua-de-mel img.icon {
    width: 10%;
  }

  #home-lua-de-mel div.text-white.text-center {
    padding-left: 24%;
    padding-right: 24%;
  }

  #home-lua-de-mel div.text-white.text-center {
    padding-left: 9%;
    padding-right: 9%;
  }

  /*----CAMBIO----*/
  #home-cambio h3{
    font-size: 25px;
  }

  #home-cambio .pr-0,  #home-cambio .pl-0{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  #home-cambio {
    height: 803px;
  }

  .cambio.bg-white {
    width: 100%;
    margin-top: -6%;
    margin-left: 0;
  }

  .cambio.bg-white img.img-fluid.m-auto.d-block.w-50{
    width: 100% !important;
  }

  .cambio.bg-cinza-nv {
    height: 179px;
  }

  /*----QUEM-SOMOS----*/
  #home-quem-somos div.text-white.text-center {
    padding-left: 0%;
    padding-right: 0%;
  }

  .close {
    right: 0px;
    top: -31px;
  }

  .modal-dialog {
    max-width: 100%;
    margin: 119px auto;
  }

  /*---VIAGENS---*/
  .img-documentos {
    vertical-align: bottom;
  }

  /*---FOOTER---*/
  footer h5{
    font-size: 16px;
  }

  footer form .col-12{
    margin-bottom: 5%;
  }

   footer form .col-12 .btn{
    width: 100%;
   }

  footer .col-lg-3{
    border-left: 0;
    border-top: 1px solid #fff;
    margin-right: 3%;
    margin-left: 3% !important;
  }

  footer .input-group.float-right{
    display: block;
    float: none !important;
    text-align: center;
    margin: 5% 0;

  }

  footer .social-media.float-right{
    margin: auto;
    float: none !important;
  }

  .btn-circle{
    display: block;
    text-align: left;
  }

  footer nav ul.navbar-nav > li:not(:first-child) > a::before{
    display: none;
  }

  footer .navbar {
    position: relative;
    padding-top: 0 !important;
    text-align: center;
  }

  .bg-footer p, .bg-footer p.float-right{
    float: none !important;
    text-align: center;
  }

  /*---PAGE-CRUZEIROS---*/

  #page-cruzeiros .row{
    padding: 0 5%;
  }

  #page-cruzeiros .col-lg-2.py-3{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  #page-cruzeiros img.img-logo{
    margin: auto;
    display: block;
    width: 45%;
  }

  #page-cruzeiros a.btn{
    width: 100%;
    margin-bottom: 5%;
  }

  /*---PAGE-INTERNA-CRUZEIRO---*/
  #interna-cruzeiro-header img{
    height: 124px;
  }

  #interna-cruzeiro-header .hero{
    top: -99px;
  }

  #interna-cruzeiro-header .hero h1{
    font-size: 30px;
  }

  #page-interna-cruzeiro{
    margin-top: -12%;
  }

  #page-interna-cruzeiro .nav .nav-item .nav-link{
    font-size: 14px;
  }

  #page-interna-cruzeiro img.logo {
    height: 96px;
  }

  #page-interna-cruzeiro .row.py-4{
    padding: 0 5%;
  }

  #page-interna-cruzeiro a.btn.px-5 {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #page-interna-cruzeiro .bg-cinza{
    padding-left: 5%;
    padding-right: 5%;
  }

  .form-orcamento.bg-cinza.p-4{
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .form-orcamento .btn {
    width: 100%;
  }

  #cat-cruzeiros .col-lg-12 {
    margin: 0 5%;
  }

  #cat-cruzeiros .border-right {
    border-right: 0 !important;
    border-bottom: 1px solid #a0a0a0;
    margin: 6px 6px;
  }

  #cat-cruzeiros .col-lg-3.bg-laranja{
    position: relative;
  }

  .triangulo {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #fff;
    left: 126px;
    float: none;
    top: 142px;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
  }

  #page-interna-cruzeiro .row.mb-4{
    padding: 0 5%;
  }

  #page-interna-cruzeiro h1{
    font-size: 34px;
  }

  #page-interna-cruzeiro .col-lg-6.border-right{
    border-right: 0 !important;
    border-bottom: 1px solid #fff;
    margin: 13px 5px;
  }

  .heading .divider-left{
    width: 172px;
  }

  /*--PAGE-INTERNA-AEREO---*/
  #page-aereo .container.aereo{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  /*---PAGE-INTERNA-DESTINOS---*/
  #page-interna-destinos h1.pb-3{
    padding-bottom: 0 !important;
  }

  #page-interna-destinos .nav-pills .nav-link{
    padding: 0 7px;
    font-size: 14px;
  }

  #page-interna-destinos .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    padding: 0;
  }

  #page-interna-destinos img.w-25{
    width: 100% !important;
  }

  #page-destinos .input-group {
    display: block;
    text-align: center;
  }

  #page-destinos h3.mr-3 {
    margin-right: 0!important;
    margin-bottom: 3% !important;
  }

  /*---PAGE-LUA-DE-MEL---*/
  #pesquisa button{
    width: 100%;
  }

  h3{
    font-size: 27px;
  }

  #como-funciona .card-deck .card{
    width: 100%;
  }

  #como-funciona .card-deck{
    margin-top: 10px;
    margin-bottom: 0 !important;
  }

  #page-interna-lua-de-mel a.nav-link span{
    display: none;
  }

  #cerimonia .bg-white {
    margin: 0px 0%;
  }

  #presente {
    padding-right: 0%;
    padding-left: 0;
  }

  #presente .border{
    width: 100%;
  }

  #presente .form-orcamento.m-5{
    margin: 2rem 0 !important;
  }

  /*---PAGE-CONTATO---*/
  #page-contato .bg-laranja.p-5{
    padding: 1rem!important;
  }

  #page-contato  a.btn {
    margin: auto;
    display: block;
}


  /*---PAGE-QUEM-SOMOS---*/
  #page-quem-somos .text-center {
    padding-right: 5%;
    padding-left: 5%;
  }

  #equipe a.input-group{
    display: block;
    margin: auto;
    padding-bottom: 5%;
  }

  /*---PAGE-CONTATO---*/
  p#container-como-chegar {
    margin-top: 10px;
    margin-left: 0;
  }

  .loading-image {
    width: 50%;
    height: 50%;
    z-index: 10;
    position: relative;
    margin-top: 56%;
  }

  /*---PAGE-404---*/
  #page-404 .col-l-g-6.img {
    order: 2;
  }

  #page-404 .col-l-g-6.text.align-self-center.pl-5{
    padding-left: 0!important;
  }

  #page-404 .row{
    margin: 0;
  }

  #page-404{
    text-align: center;
  }

  #page-404 p {
    font-size: 17px;
    text-align: center;
  }

  #page-404 a.btn {
    margin: auto;
    display: block;
  }
}

/*--TABLET--*/
@media (min-width: 768px) and (max-width: 991px){
  .carousel .hero{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 5%;
  }

  .carousel-control-next, .carousel-control-prev {
    top: -330px;
  }

  .carousel .col-lg-2.p-4{
    padding: 1.0rem!important;
    order: 2;
  }

  .carousel .img-logo{
    height: 30px;
    margin: auto;
  }

  .carousel a.btn {
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  #banners .hero {
    top: 17%;
    left: 18px;
    width: 89%;
  }

/*  #destinos img.img-logo {
    left: 225px;
    top: 137px;
  }*/

  .cambio.bg-white {
    width: 100%;
    margin-left: 0;
  }

  #home-viagem .visto, #home-viagem .viagem, #home-viagem .contato {
    height: 338px;
  }

  footer nav ul.navbar-nav > li:not(:first-child) > a::before{
    display: none;
  }

  footer .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  footer button.btn{
    margin-top: 3px;
  }

  #page-cruzeiros img.img-logo {
    margin: auto;
    display: block;
    width: 15%;
  }

  #page-cruzeiros a.btn.px-5{
    padding-left: 2rem!important;
  }

  #cat-cruzeiros h1{
    font-size: 24px;
  }

  #page-contato .bg-laranja a.btn{
    margin: auto;
    display: block;
  }

  #cerimonia .bg-white {
    margin: 0 11%;
  }

  #presente {
    padding-right: 10%;
    padding-left: 10%;
  }

  #presente .border {
    width: 56%;
    margin: auto;
  }

  .card-img-top{
    height: 180px;
  }

  #page-cruzeiros img.img-cruzeiro {
    height: 261px;
  }

  /*--PAGE-404--*/

  #page-404 p {
    font-size: 17px;
  }

}

.capitalize{
  text-transform: capitalize;
}





